$color-blue: #017de9;
$color-black: #303337;

.header-container {
  position: relative;
  display: block;
  z-index: 999;
  border-bottom: 1px solid #eee;
  .header {
    display: flex;
    justify-content: space-between;
    height: 65px;
    .header_image {
      margin: auto 0;
    }
    .header_image img {
      object-fit: cover;
      height: 39px;
      width: 100px;
    }
    .header-menu {
      margin: auto 0;
    }
    .header-menu ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      margin: auto;
    }
    .header-menu ul li {
      margin: 0 27px;
      .ccccccc {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        // overflow: hidden;
        transform: translateZ(0);
        background-color: #fff;
        height: 0;
        // visibility: hidden;
        .sub-menu {
          height: 200px;
          box-shadow: 0 4px 6px rgba(103, 110, 118, 0.3);
          position: absolute;
          left: 0;
          bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          background: #017de9;
        }
      }
    }

    .header-menu ul li:last-child {
      margin-right: 0;
    }
    .header-menu ul li a {
      text-decoration: none;
      color: $color-black;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
    }
    .header-menu ul li a:hover {
      color: $color-blue;
    }
    .mobile-menu-toggle {
      display: none;
    }
  }
}
@media (max-width: 768px) {
  .header-container {
    .header {
      .mobile-menu-toggle {
        display: block !important;
        position: absolute;
        z-index: 101;
        right: 15px;
        top: 15px;
      }
      .header-menu {
        display: none;
      }
      .header-menu ul {
        display: flex;
        justify-content: center;
        padding: 0;
        position: absolute;
        height: 100vh;
        width: 60%;
        background: #fff;
        right: 0;
        flex-direction: column;
        z-index: 100;
        overflow-y: auto;
      }

      .mobile-menu {
        position: fixed;
        height: 100vh;
        z-index: 100;
        display: flex;
        background: rgba(0, 0, 0, 0.6);
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        box-sizing: border-box;
        overflow: hidden;
      }
    }
  }
}
