.post {
  .post-link {
    .thumbnail {
      display: block;
      overflow: hidden;
      .image-post {
        width: 100%;
        height: 254px;
        object-fit: cover;
        transition: transform 0.3s;
      }
    }
    &:hover {
      .image-post {
        transform: scale(1.1);
      }
    }
    .post-date {
      font-size: 16px;
      line-height: 16px;
      color: rgb(48, 51, 55);
      margin-top: 20px;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      justify-content: space-between;
      .image-shop {
        width: 16px;
        height: 16px;
        object-fit: cover;
      }
    }
    .post-title {
      color: rgb(32, 35, 37);
      font-size: 22px;
      font-weight: 600;
      line-height: 30px;
      margin-top: 11px;
    }
    .post-content {
      font-size: 16px;
      line-height: 27px;
      color: rgb(117, 117, 117);
      margin-top: 9px;
    }
  }
}
