.mySwiper {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  height: calc(100vh - 65px);
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  // margin-top: 65px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.swiper-pagination-bullet-active {
  height: 8px;
  width: 30px;
  border-radius: 30px;
}

.swiper-button-prev {
  left: 50%;
  margin-left: -642px;
  color: #fff;
}
.swiper-button-next {
  right: 50%;
  margin-right: -642px;
  color: #fff;
}
