.btn-viewMore {
  background-color: rgb(1, 125, 233);
  height: 48px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0px 48px;
  border-radius: 24px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  border: none;
  cursor: pointer;
  align-self: center;
  transition: all 0.2s ease 0s;
  &::after {
    opacity: 1;
    content: '';
    width: 8px;
    height: 8px;
    border-width: 2px 2px 0px 0px;
    border-style: solid;
    border-color: white;
    margin-left: -7px;
    margin-top: 2px;
    opacity: 0;
    transform: translateX(10px) rotate(45deg);
    transition: all 0.2s ease 0s;
  }
  &:hover {
    background-color: rgb(30, 143, 241);

    &::after {
      opacity: 1;
    }
  }
}
