.title {
  text-align: center;
  padding: 0 120px;
  margin: 48px auto;
  .title-name {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 16px;
    font-family: var(--openSans-Italic);
  }
  p {
    // color: var(color-grey);
  }
}
@media (max-width: 768px) {
  .title {
    padding: 0;
    margin: 32px auto;
  }
}
