.ourMission_content {
  margin: 0 auto 80px;

  .ourMission {
    display: block;
    overflow: hidden;
    position: relative;
    .ourMission-image {
      transition: all 0.7s;
      -webkit-transform: scale(1);
      transform: scale(1);
      img {
        height: 250px;
        width: 100%;
        object-fit: cover;
      }
      &:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }
    }

    .ourMission-image::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.45);
      pointer-events: none;
    }

    .ourMission-text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      z-index: 1;
      height: 250px;
      width: 398px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;

      img {
        width: 96px;
        height: 70px;
        margin: 10px 0 5px;
      }
      h6 {
        font-size: 26px;
        color: #fff;
        line-height: 28px;
      }
      p {
        color: hsla(0, 0%, 100%, 0.6);
        font-size: 16px;
      }
    }
  }
}
