.footer {
  text-align: center;
  color: rgba(32, 35, 37, 0.45);
  font-size: 14px;
  border-top: 1px solid #eeeff2;
  margin: 120px 0 0;
  .footer-botom {
    padding: 32px 0;
    .line {
      margin: 0 6px;
    }
  }
  .footer-top {
    padding: 48px 0;
    .list-footer h5 {
      font-size: 14px;
      color: rgba(32, 35, 37, 0.45);
      margin: 0 0 16px;
      font-weight: 400;
    }
    .list-footer li {
      color: #202325;
      font-size: 14px;
      line-height: 28px;
    }
    div {
      text-align: left;
    }
    .image-Footer {
      margin-bottom: 28px;
    }
    .image-Footer {
      width: 132px;
      height: 48px;
      object-fit: cover;
    }
    p {
      color: rgba(32, 35, 37, 0.45);
      font-size: 14px;
      margin-bottom: 0;
      line-height: 28px;
    }
  }
}
@media (max-width: 768px) {
  .footer {
    .footer-top {
      padding: 30px 0;
      .list-footer:first-child {
        margin-top: 20px;
      }
      .list-footer {
        padding: 0;
      }
    }
    .footer-botom {
      padding: 0 0 30px 0;
    }
  }
}
